<link rel="stylesheet" type="text/css" href="/packages/fontawesome/css/all.min.css">
<link rel="stylesheet" type="text/css" href="/packages/sciola/css/all.min.css">
{% for file in css %}
<link rel="stylesheet" type="text/css" href="{{ file }}">
{% endfor %}
<script src="/packages/jquery/jquery.min.js"></script>
<script src="/packages/axios/axios.min.js"></script>
<script src="/packages/bootbox/bootbox.all.min.js"></script>
<script src="/packages/sciola/js/bootstrap.bundle.min.js"></script>
<script src="/packages/sciola/js/all.min.js"></script>
<script type="text/javascript">
const sciola = new Sciola();
sciola.init();
</script>
{% for file in js %}
<script src="{{ file }}"></script>
{% endfor %}
