.float-left {
  float: left !important;
}

.position-relative {
  position: relative !important;
}

.modal-body,
.align-center {
  text-align: center !important;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.vertical-align,
.icon {
  vertical-align: middle !important;
}

.align-justify {
  text-align: justify !important;
}
