$_light: rgb(255,255,255);
$_dark: rgb(0,0,0);
$primary: #145D97;

.bg-light-1 {
  background-color: rgba($_light, 0.1) !important;
}

.bg-light-2 {
  background-color: rgba($_light, 0.2) !important;
}

.bg-light-3 {
  background-color: rgba($_light, 0.3) !important;
}

.bg-light-4 {
  background-color: rgba($_light, 0.4) !important;
}

.bg-light-5 {
  background-color: rgba($_light, 0.5) !important;
}

.bg-light-6 {
  background-color: rgba($_light, 0.6) !important;
}

.bg-light-7 {
  background-color: rgba($_light, 0.7) !important;
}

.bg-light-8 {
  background-color: rgba($_light, 0.8) !important;
}

.bg-light-9 {
  background-color: rgba($_light, 0.9) !important;
}

.bg-dark-1 {
  background-color: rgba($_dark, 0.1) !important;
}

.bg-dark-2 {
  background-color: rgba($_dark, 0.2) !important;
}

.bg-dark-3 {
  background-color: rgba($_dark, 0.3) !important;
}

.bg-dark-4 {
  background-color: rgba($_dark, 0.4) !important;
}

.bg-dark-5 {
  background-color: rgba($_dark, 0.5) !important;
}

.bg-dark-6 {
  background-color: rgba($_dark, 0.6) !important;
}

.bg-dark-7 {
  background-color: rgba($_dark, 0.7) !important;
}

.bg-dark-8 {
  background-color: rgba($_dark, 0.8) !important;
}

.bg-dark-9 {
  background-color: rgba($_dark, 0.9) !important;
}

.bg-purple-1 {
  background-color: rgba(23, 11, 40, 0.9) !important;
}

.bg-purple-2 {
  background-color: rgba(80, 22, 68, 0.7) !important;
}

.bg-regular {
  background-color: #94A2AB !important;
}

.bg-medium {
  background-color: #E5E4DD !important;
}

.bg-master {
  background-color: #162D50 !important;
}

.bg-second {
  background-color: #E6B900 !important;
}

.bg-gray {
  background-color: gray !important;
}

.bg-yellow {
  background-color: yellow !important;
}

.bg-orange {
  background-color: orange !important;
}

.bg-red {
  background-color: red !important;
}

.bg-green {
  background-color: green !important;
}

.bg-blue {
  background-color: blue !important;
}

.bg-gradient-1 {
  background: rgb(131,58,180) !important;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%,
                                     rgba(253,29,29,1)  50%,
                                     rgba(252,176,69,1) 100%) !important;
}

.bg-gradient-2 {
  background: rgb(0,85,212) !important;
  background: linear-gradient(90deg, rgba(0,85,212,1)   0%,
                                     rgba(23,142,166,1) 50%,
                                     rgba(52,193,119,1) 100%) !important;
}

.bg-gradient-3 {
  background: rgb(105,55,245) !important;
  background: linear-gradient(0deg, rgba(105,55,245,1)   0%,
                                    rgba(85,67,247,1)    1%,
                                    rgba(13,110,253,1)  50%,
                                    rgba(13,149,253,1) 100%) !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  background-color: #EFEFEF !important;
}

.navbar-dark .custom-toggler:focus,
.navbar-dark .custom-toggler:active {
  background-color: #414141 !important;
}

a.dropdown-item:hover {
  background-color: #FFD300 !important;
}

a.dropdown-item:active {
  background-color: #212529 !important;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #162D50 !important;
}

.tabulator .tabulator-header .tabulator-col,
.tabulator .tabulator-footer {
  background-color: #EDECEB !important;
}

.tabulator-selected {
  background-color: #F5E8B4 !important;
}
