.text-regular {
  color: #94A2AB !important;
}

.text-medium {
  color: #E5E4DD !important;
}

.text-master {
  color: #162D50 !important;
}

.text-second {
  color: #E6B900 !important;
}

.text-gray {
  color: gray !important;
}

.text-yellow {
  color: yellow !important;
}

.text-orange {
  color: orange !important;
}

.text-red {
  color: red !important;
}

.text-green {
  color: green !important;
}

.text-blue {
  color: blue !important;
}
